<!DOCTYPE html>

<head>
<meta charset="UTF-8">
<title>商品类型添加页面</title>
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<body>
	<div class="container-fruid">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation"
			style="padding-left: 30px;">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="##" data-toggle="dropdown"
					class="dropdown-toggle">类型管理<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="selectGoodsType.html">查询类型</a></li>
						<li><a href="addType.html">添加类型</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="##" data-toggle="dropdown"
					class="dropdown-toggle">商品管理<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="selectGoods.html">查询商品</a></li>
						<li><a href="addGoods.html">添加商品</a></li>
						<li><a href="updateAgoods.html">修改商品</a></li>
						<li><a href="updateAgoods.html">删除商品</a></li>
					</ul>
				</li>
				<li><a href="allOrder.html">查询订单</a></li>
				<li><a href="allUser.html">用户管理</a></li>
				<li><a href="login.html">安全退出</a></li>
			</ul>
		</div>
	</div>
	<br><br><br>
	<div class="container">
		<div class="bg-primary"  style="width:70%; height: 60px;padding-top: 0.5px;">
	       <h3 align="center">修改商品</h3>
	   </div><br>
		<form action=""
		 name="myform" method="post" 
		 class="form-horizontal" 
		 enctype="multipart/form-data" >
			<div class="form-group has-success">
				<label class="col-sm-2 col-md-2 control-label">商品名称</label>
				<div class="col-sm-4 col-md-4">
					<input type="text" class="form-control"
					 placeholder="请输入商品名"
					th:field="*{gname}"/>
					<input type="hidden" name="id" id="id" value="1"/>
				</div>
			</div>
			<div class="form-group has-success">
				<label class="col-sm-2 col-md-2 control-label">商品原价</label>
				<div class="col-sm-4 col-md-4">
					<input type="number" class="form-control"
					 placeholder="请输入商品原价"
					th:field="*{goprice}"/>
				</div>
			</div>
			<div class="form-group has-success">
				<label class="col-sm-2 col-md-2 control-label">商品折扣价</label>
				<div class="col-sm-4 col-md-4">
					<input type="number" class="form-control"
					 placeholder="请输入商品折扣价"
					th:field="*{grprice}"/>
				</div>
			</div>
			<div class="form-group has-success">
				<label class="col-sm-2 col-md-2 control-label">商品库存</label>
				<div class="col-sm-4 col-md-4">
					<input type="number" class="form-control"
					 placeholder="请输入商品库存"
					th:field="*{gstore}"/>
				</div>
			</div>
			<div class="form-group has-success">
				  <label class="col-sm-2 col-md-2 control-label">商品图片</label>
				  <div class="col-sm-4 col-md-4">
		  				<input type="file" placeholder="请选择商品图片"  class="form-control" name="fileName"/>
		  				<img src="../../static/images/35d3bde4af31b776"
									style="height: 50px; width: 50px; display: block;">
						<input type="hidden" name="gpicture" id="gpicture" value=''/>
				  </div>
			 </div>
			<div class="form-group has-success">
				<label class="col-sm-2 col-md-2 control-label">是否推荐</label>
				<div class="col-sm-4 col-md-4 radio">
					<label> 
						<input type="radio" value="1">是
					</label>
					<label> 
						<input type="radio" value="0">否
					</label>
				</div>
			</div>
			<div class="form-group has-success">
				<label class="col-sm-2 col-md-2 control-label">是否广告</label>
				<div class="col-sm-4 col-md-4 radio">
					<label> 
						<input type="radio" value="1">是
					</label>
					<label> 
						<input type="radio"  value="0">否
					</label>
				</div>
			</div>
			<div class="form-group has-success">
				<label class="col-sm-2 col-md-2 control-label">商品类型</label>
				<div class="col-sm-4 col-md-4">
					<select class="form-control" ">
						<option value="1">家电</option>
						<option value="2">化妆品</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit"class="btn btn-success" >修改</button>
					<button type="reset" class="btn btn-primary" >重置</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>